body {
  width: 500px;
  /* display: flex; */
  margin: auto;
}

.clock-widget {
  font-family: 'Pacifico', cursive;

}

.clock-widget h1 {
  font-size: 24px;
  margin: 15px 0 5px 0;
  text-align: right;
}

.clock-widget ul {
  border: 2px solid black;
  border-radius: 1px;
  box-shadow: 2px 2px 4px 4px #ccc;
  background-color: #b784a7;
}

.clock-widget ul li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: #d8b1cc;
}

.tabs {
  width: 250px;
  height: 300px;
  border: 1px solid black;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.tabs-headers {
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
  margin: 10px 0;
  font-family: 'Pacifico', cursive;
}

.tabs-article {
  width: 90%;
  height: 82%;
  align-self: center;
  border: 1px solid red;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 5px;
}
